<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Arts Club</title>
    <% if (page === 'payment') { %>
        <link rel="stylesheet" href="payment-style.css">
    <% } else { %>
        <link rel="stylesheet" href="style.css" />
    <% } %>
    <script src="/script.js"></script>
</head>

<body>
    <div id="root"></div>
</body>

</html>